*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'montserrat', Courier, monospace;
}
body{
    
}


.hero{
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 600px 1fr;
    background-color: #8c2785a1;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
    .cont-logo{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
        .logo{
            width: 30%;
            height: auto;
        }
    .nav{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        height: 100px;
        
    }
        .cajas{
            align-self: center;
        }
            .inicio{
                margin: 0 3rem 0 0;
            }
            .top10{
                margin: 0 3rem 0 0;
            }
            .genero{
                margin: 0 3rem 0 0;
            }
                a{
                    color: whitesmoke;
                    text-align: center;
                    font-size: 24px;
                    font-weight: 600;
                    text-shadow: -18px 8px 18px #b4bbbb;    
                }
    
.contenedor{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

}
    .cont-portada{
        width: 100%;
        align-self: center;
        height: 750px;
        display: flex;
        flex-flow: row wrap;
        
        background-image: url("waifus/portada.webp");
        background-size: 800px 600px;
        background-repeat: no-repeat;
        background-position: right;
        background-color: #EEA9E7;

        justify-content: center;
    }
        .cont-letras{
            margin: 165px 500px 0px 0px;
            height: min-content;
            display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
            color: whitesmoke;
        }
            .titulo{
                text-align: left;
                font-size: 60px;
                margin-top: 1.7em;
                margin-bottom: 1em;
                letter-spacing: 1.2rem;
                text-shadow: -18px 8px 18px #0c3f3f;
                
            }
            .subtitulo{
                margin-bottom: 1em;
                letter-spacing: 0.5rem;
                text-shadow: -18px 8px 18px #b4bbbb;
            }
            .parrafo{
                margin-bottom: 1em;
                letter-spacing: 0.3rem;
                text-shadow: -18px 8px 18px #b4bbbb;
            }

            /* Seccion de waifus */
    .section{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-self: center;
        background-color: #D698D0;
    }
        .cont-waifus{
            margin: 3em;
            height: 300px;
            width: 300px;
            border: 2px solid transparent;
            background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
            background-size: 1200% 100%;
            animation: rainbow 10s ease infinite;
        }
        
        .img-waifu{
            width: 90%;
            border-radius: 10px;
            
          
        }
        @keyframes rainbow {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }



/* MEDIA QUERYS HEASJ */

@media (max-width: 600px) {
    .hero{
        grid-template-columns: 200px 1fr;
        align-items: center;
    }
    .cont-logo{
        justify-content: flex-start;
    }
        .logo{
            width: 80%;
            height: auto;
        }
    .nav{
        height: 70px;
        justify-content: center;
    }
    .cajas{
        padding: 0;
        align-self: center;
        margin: 0.8em;
    }
        a{
            text-align: center;
            font-size: 18px;
        }

    .contenedor{

    }
    .cont-portada{
        background-size: 500px 600px;

    }
        .cont-letras{
            margin: 100px 0px 0px 10px;
            color: whitesmoke;
            align-items: center;
            letter-spacing: 0;
            
        }
        .titulo{
            text-align: center;
            letter-spacing: 1rem;
            text-shadow: -18px 8px 18px black;
            
        }
        .subtitulo{
            text-shadow: -18px  2px 12px black;
        }
        .parrafo{
            text-align: center;
            text-shadow: -18px 2px 12px black;
            color: white;
        }
}

@media (max-width: 400px){
    .cajas{
        padding: 0;
        align-self: center;
        margin: 0.3em;
    }
}